@font-face {
    font-family: GothamBold;
    src: url(../fonts/Gotham/GothamHTF-Black.otf) format("opentype");
}

/****COLORS****/


.fa-facebook:hover {
    color: #3b5998;
}


.fa-twitter:hover {
    color: #00aced;
}


.fa-linkedin:hover {
    color: #007bb6;
}


.fa-snapchat-ghost:hover {
    color: #fffc00;
}

.fa-soundcloud:hover {
  color: #ff3a00;
}

.fa-github:hover {
  color: #000000;
}

.fa-envelope:hover {
  color: #dd4b39;
}

.fa-file-text:hover {
  color: #424242;
}






body {
    color: #004D40;
    font-family:'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size:30px;
    text-align:center;
/*    text-shadow: 4px 4px 7px #000000; */
    background-color: #ffffff;
    margin: 20px;
    overflow: hidden;
}

div.transbox {
margin: 45px;
background-color: #ffffff;
border: 1px solid black;
opacity: 1;
padding: 20px;
filter: alpha(opacity=60); /* For IE8 and earlier */
}

#home {
    display: block;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    min-width: 320px;
}

#home h1 {
    margin: 0;
    font-size: 100px;
}

#home-external-nav {
    color: #aaa;
    font-size: 1.6em;
}

#home-external-nav a{
    color: #aaa;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

#home-external-nav a:active{
    color: #aaa;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

#home-external-nav a:visited{
    color: #aaa;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}



#home-external-nav i{
    margin: 0;
    height: 15px;
}

/*
#crystallisation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
*/

h1, h2, h3, h4, h5, h6 {
    font-family: GothamBold;
}
